@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

:root {
  --dark-blue: #1f6d79;
  --blue: #15acb1;
  --gradient: linear-gradient(90deg, var(--dark-blue), var(--blue));
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
}

*::selection {
  background: var(--blue);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: #f9f9f9;
}

section {
  min-height: 100vh;
  padding: 0 9%;
  padding-top: 7.5rem;
  padding-bottom: 2rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 3rem;
  border-radius: 5rem;
  background: var(--gradient);
  font-size: 1.7rem;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear;
}

.btn:hover {
  transform: scale(1.1);
}

.heading {
  text-align: center;
  background: var(--gradient);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 3.5rem;
  text-transform: uppercase;
  padding: 1rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

header img {
  width: 80px;
}
header .navbar a {
  font-size: 1.7rem;
  margin-left: 2rem;
  color: #000;
  transition: 0.3s;
}

header .navbar a:hover {
  color: var(--blue);
}

header input {
  display: none;
}

header label {
  font-size: 3rem;
  color: var(--dark-blue);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}

.home {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-image: url("./images/home-bg-img.png");
}

.home .image img {
  padding-top: 50px;
  width: 40vw;
  animation: anim 3s linear infinite;
}

@keyframes anim {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-3.5rem);
  }
}

.home .content h3 {
  font-size: 5.5rem;
  color: #333;
  text-transform: uppercase;
}

.home .content h3 span {
  color: var(--blue);
  text-transform: uppercase;
}

.home .content p {
  font-size: 1.7rem;
  color: #666;
  padding: 1rem 0;
}

.features .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.features .box-container .box {
  flex: 1 1 30rem;
  background: #fff;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  margin: 1.5rem;
  padding: 3rem 2rem;
  border-radius: 0.5rem;
  text-align: center;
  transition: 0.2s linear;
}

.features .box-container .box img {
  height: 15rem;
}

.features .box-container .box h3 {
  font-size: 2rem;
  color: #333;
  padding-top: 1rem;
}

.features .box-container .box p {
  font-size: 1.3rem;
  color: #666;
  padding: 1rem 0;
}

.about {
  background-size: cover;
  background-position: center;
  padding-bottom: 3rem;
}

.about .column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.about .column .image {
  flex: 1 1 40rem;
}

.about .column .image img {
  width: 100%;
}

.about .column .content {
  flex: 1 1 40rem;
}

.about .column .content h3 {
  font-size: 3rem;
  color: #666;
}

.about .column .content p {
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
}

.about .column .content .buttons a:last-child {
  margin-left: 2rem;
}

.article {
  text-align: center;
  padding: 5rem 1rem;
  background: url(../images/artikel-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.article h3 {
  color: #fff;
  font-size: 3rem;
  text-transform: uppercase;
}

.article p {
  color: #fff;
  font-size: 1.6rem;
  margin: 2rem auto;
  width: 70rem;
}

.form .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.form .box-container .box {
  background: #fff;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  position: relative;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  flex: 1 1 30rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.form .box-container .box:hover {
  transform: scale(1.03);
}

.form .box-container .box .fa-quote-right {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 8rem;
  color: var(--blue);
  opacity: 0.3;
}

.form .box-container .box .user img {
  border-radius: 50%;
  object-fit: cover;
  height: 7rem;
  width: 7rem;
  margin-top: 2rem;
}

.form .box-container .box .user h3 {
  color: var(--blue);
  font-size: 2rem;
}

.form .box-container .box .user .stars i {
  color: var(--dark-blue);
  font-size: 1.5rem;
  padding: 1rem 0;
}

.form .box-container .box .comment {
  color: #666;
  font-size: 1.4rem;
  padding: 1rem;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.image {
  width: 50%;
  max-width: 500px;
}

img {
  width: 100%;
  height: auto;
}

form {
  width: 50%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

input[type="text"],
input[type="email"],
input[type="number"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

#check {
  font-size: 14px;
  margin-top: 10px;
}

#status {
  margin-left: 5px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

#warning {
  color: red;
  margin-top: 10px;
}


.footer {
  padding-top: 3rem;
  background: url(../images/footer-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.footer .box-container {
  display: flex;
  flex-wrap: wrap;
}

.footer .box-container .box {
  flex: 1 1 25rem;
  margin: 2rem;
}

.footer .box-container .box h3 {
  font-size: 2.5rem;
  padding: 1rem 0;
  color: #fff;
  text-decoration: underline;
  text-underline-offset: 1rem;
}

.footer .box-container .box p {
  font-size: 1.5rem;
  padding: 0.5rem 0;
  color: #eee;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.5rem;
  padding: 0.5rem 0;
  color: #eee;
  transition: 0.3s;
}

.footer .box-container .box a:hover {
  text-decoration: underline;
}

.footer .box-container .box .info {
  display: flex;
  align-items: center;
}

.footer .box-container .box .info i {
  margin: 0.5rem 0;
  margin-right: 1rem;
  border-radius: 50%;
  background: #fff;
  color: var(--blue);
  font-size: 1.5rem;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  text-align: center;
}

.footer .credit {
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 0.1rem;
  color: #fff;
  border-top: 0.1rem solid #fff5;
  padding: 2.5rem 1rem;
  text-align: center;
}

/* media queries  */

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  section {
    padding: 0 3%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
  }
}

@media (max-width: 768px) {
  header label {
    visibility: visible;
    opacity: 1;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 1rem 2rem;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    transition: 0.3s linear;
  }

  header .navbar a {
    display: block;
    margin: 2rem 0;
    font-size: 2rem;
  }

  .home {
    flex-flow: column-reverse;
  }

  .home .image img {
    width: 100%;
  }

  .home .content h3 {
    font-size: 3.6rem;
  }

  .home .content p {
    font-size: 1.5rem;
  }

  .about {
    background-position: right;
  }

  .article p {
    width: auto;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .about .column .content .buttons a {
    width: 100%;
    text-align: center;
  }

  .about .column .content .buttons a:last-child {
    margin: 1rem 0;
  }
}
